header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#6f1f42;
}
header li {
    float: left;
}
header a {
    display: block;
    padding: 14px 16px;
    background-color: #6f1f42;
    color: #fef1f3;
    text-decoration: none;
}
header {
    background-color: #6f1f42;
    border-radius: 5px;
    border: 1px solid black;
    height: fit-content;
    font-family: 'Heebo', sans-serif;    
    position: fixed;
    top: 0px;
    width: 100%;
}
header li a:hover {
    background-color: #fef1f3;
    color: black;
}
.active {
    background-color: #e6a3af;
    color: black;
}
body {
    background-color: #fef1f3;
}
main a {
    color: #e6a3af;
    font-family: 'Heebo', sans-serif;
}
.oneproject a {
    color: #6f1f42;
    font-family: 'Heebo', sans-serif;
}
main {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-family: 'Heebo', sans-serif;
}
footer {
    background-color: #6f1f42;
    font-size: 12px;
    color: #fef1f3;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
footer p {
    text-align: center;
}
.oneproject {
    background-color: #e6a3af;
    border-radius: 5px;
    border: 1px solid black;
    height: fit-content;
    font-family: 'Heebo', sans-serif;
    padding: 15px;
    margin: 20px;
    width: 200px;
    box-shadow: 5px 5px gray
}
.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
h1 {
    margin-top: 90px;
    margin-left: 50px;
}
.intro {
    background-color: #e6a3af;
    border-radius: 5px;
    border: 1px solid black;
    height: fit-content;
    font-family: 'Heebo', sans-serif;
    padding: 15px;
    margin: 20px;
    width: 90%;
    box-shadow: 5px 5px gray
}